services:
  jaeger:
    image: jaegertracing/jaeger:2.11.0
    container_name: jaeger
    ports:
      - "16686:16686"
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    networks:
      - app-network

  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    command: postgres -c max_connections=200
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydb
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d mydb"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10

  nestjs:
    build:
      context: ./nestjs
      dockerfile: Dockerfile
    container_name: nestjs
    ports:
      - "8080:3000"
    environment:
      - PORT=3000
      - OTEL_SERVICE_NAME=nestjs
      - OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://jaeger:4318/v1/traces
      - DATABASE_URL=postgresql://admin:password@postgres:5432/mydb?schema=public&connection_limit=100
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      jaeger:
        condition: service_started
    networks:
      - app-network

    mem_limit: 2G
    memswap_limit: 2G
    mem_reservation: 1.6G
    cpus: "2.0"

volumes:
  postgres-data:
  redis-data:

networks:
  app-network:
    driver: bridge
